@import vars
@import fonts
@import libs

@import event-page

body
	background-color: #f4f4f4
ul, li
  margin: 0
  padding: 0
  list-style: none
// MODAL INPUT CSS
.form_group input[type=text],
.form_group select,
.form_group input[type=date],
.form_group input[type=time],.form_group input[type=file],
.form_group input[address],
.form_group input[type=email]
  padding: 3px 8px
  display: inline-block
  border: 1px solid #ccc
  box-sizing: border-box
  font-size: 12px
textarea
    @include for_textarea
    height: 150px
#modal_client_info
    @include for_textarea
    height: 60px
.form_group label
    font-size: 14px
    margin-bottom: 0
.form_group input[type=submit]
    @include btn_submit
    width: 100%
.form_group
	display: flex
	flex-direction: column
	margin-bottom: 5px
// END MODAL INPUT CSS
// MODAL CREATE EVENT
/* The Modal (background) */
.container_modal, .container_modal_moderation, .container_modal_error, .container_modal_notfound
    display: none
    position: fixed
    z-index: 1
    padding-top: 50px
    left: 0
    top: 0
    width: 100%
    height: 100%
    overflow: auto
    background-color: rgb(0,0,0)
    background-color: rgba(0,0,0,0.4)

/* Modal Content */
.modal_content
    @include modal_content
    width: 60%
.modal_content_moderation, .modal_content_error, .modal_content_notfound
    @include modal_content
    width: 50%
/* The Close Button */
.close_modal, .close_modal_moderation, .close_modal_error, .close_modal_notfound
    color: #aaaaaa
    float: right
    font-size: 28px
    font-weight: bold
.close_modal:hover,
.close_modal:focus,
.close_modal_moderation:hover,
.close_modal_moderation:focus,
.close_modal_error:hover,
.close_modal_error:focus,
.close_modal_notfound:hover,
.close_modal_notfound:focus
    color: #000
    text-decoration: none
    cursor: pointer
.modal_header
    @include flex-center
.modal_title
    font-size: 18px
#submit_create_event
	@include btn_submit
	width: 20%
	margin-top: 10px
	padding: 2px 16px
	font-size: 14px
#submit_create_event:hover
	opacity: 0.7
// END MODAL CREATE EVENT

// VALIDATION
.error_msg
    color: red
    font-size: 10px;

// END VALIDATION
header
	background-color: black
	height: 60px
	display: flex
	align-items: center
.container_header a
	text-decoration: none !important
.container_main, .container_header
	width: 1024px
	margin: auto
.container_header
	display: flex
	justify-content: space-between
	align-items: center
.header_logo
	color: #ffffff
	font-size: 28px
	font-weight: 500
.header_logo span, .footer_logo span 
	color: $main-color
.btn_add_event
	@include btn_submit
	padding: 5px 11px
	font-size: 13px
	margin: 0
.btn_add_event:hover
	opacity: 0.8
.container_events
	margin: 20px auto 0 auto
	display: flex
	flex-wrap: wrap
	justify-content: space-between
.event_card
	display: flex
	width: 32%
	margin-bottom: 30px
	padding: 10px
	background-color: #fff
.event_card_content
	background-color: #fff
	display: flex
	flex-direction: column
	width: 100%
.block_event_img
	overflow: hidden
	height: 140px
	display: flex
	justify-content: center
	align-items: center
.event_card_img
	max-width: 100%
	height: auto
	transition: 1s
	cursor: pointer
.event_card_img:hover
	transform: scale(1.2)
.event_card_title
	font-size: 18px
	font-weight: 600
	line-height: 1.4
	padding-top: $card-padding-top
.card_icon_title
	padding-top: $card-padding-top
	display: flex
	align-items: center
.card_title
	margin-left: 10px
	font-size: 14px
	font-weight: 500
.event_card_desc
	font-size: 13px
	// line-height: 1
	padding-top: $card-padding-top
.event_card_cat
	flex: 1 0 auto
	text-align: right
	font-size: 15px
	padding-top: $card-padding-top
	color: #555
	font-weight: 300
.event_card_icon
	min-width: 18px
	width: 18px
	height: 18px
.container_search
	background-color: #F4F4F4
	margin-top: 20px
.block_search_date_cat
	font-size: 14px
	font-weight: 700
	display: flex
	margin: auto
.block_search_day
	display: flex
	height: 64px
.item_search_date
	display: flex
	flex-direction: column
	justify-content: center
	align-items: center
	padding: 10px
	margin-right: 2px
	cursor: pointer
	background-color: white
.name_day
	// padding: 10px
.count_day
	font-size: 20px
.red_text
	color: $main-color
.btn_search
	@include btn_submit
.btn_search:hover,.btn_buy_ticket:hover
	opacity: 0.5
.block_search_cat
	display: flex
	align-items: center
	justify-content: center
	width: 100%
	background-color: white
.search_cats
	display: flex
.search_cat_title
	font-size: 16px
	font-weight: 700
	margin-right: 15px
.search_cat
	margin: 0 4px
	border-bottom: 1px dashed
	cursor: pointer
	font-weight: 400
.search_cat:hover
	color: $main-color
.btn_buy_ticket
	@include btn_submit
	align-self: center
.title_calendar
	font-weight: 600
.datepicker_btn
	margin: 0 15px
	cursor: pointer
	width: 24px
	height: 24px
.datepicker_group
	display: flex
	align-items: center
	width: 100%
	background-color: white
	padding: 8px
.datepicker_input
	border: none !important
	padding: 0 !important
	margin: 0 !important
	font-size: 16px
	background-color:rgba(0, 0, 0, 0) !important
	margin: 0
.block_search_title_city
	background-color: white
	margin-top: 5px
.block_search_title_city #event_name, .block_search_title_city #city, .block_search_title_city input[type=text]
	width: 100%
	padding: 3px 15px
	margin: 8px 5px 8px 5px
	display: inline-block
	border: 1px solid #ccc
	box-sizing: border-box
	max-width: 220px
	font-size: 14px
.block_search_title_city #city
	margin: 8px 20px 8px 0
.block_search_title_city .btn_search
	font-size: 14px
	padding: 4px 16px
// style for datepicker
.datepicker--day-name, .datepicker--cell.-current-
    color: $main-color !important
.datepicker--cell.-selected-
	background: #E5EAEE !important
	color: black !important
.datepicker--pointer
	display: none !important
.datepicker--time-row input[type='range']:focus::-webkit-slider-thumb
    background: $main-color !important
    border-color: $main-color !important
.datepicker--time-row input[type='range']:focus::-moz-range-thumb
    background: $main-color !important
    border-color: $main-color !important
.datepicker--time-row input[type='range']:focus::-ms-thumb
    background: $main-color !important
    border-color: $main-color !important
// end style for datepicker
#pagination
    display: flex
    justify-content: center
    padding: 0 0 30px 0
footer
	background-color: #75757A
	width: 100%
	height: 60px
	@include flex-center
	justify-content: center
.footer_logo
	color: #ffffff
	font-size: 28px
	font-weight: 500
.arrow_down
	border: solid $main-color
	border-width: 0 3px 3px 0
	display: inline-block
	padding: 3px
	transform: rotate(45deg)
	-webkit-transform: rotate(45deg)
	margin-left: 5px
.border_none 
	border: none
//drop-down
.dropdown_window
	position: relative
	display: inline-block

.dropdown_content
	display: none
	position: absolute
	right: -45px
	top: 30px
	background-color: #fff
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2)
	z-index: 1
.container_category
	display: flex
	flex-direction: row
	flex-wrap: wrap
	width: 300px
.dropdown_content div
	color: black
	padding: 12px 16px
	// display: block
.dropdown_content div:hover
	color: $main-color
.show
	display: block

@media (max-width: 1050px)
	.container_main, .container_header
		width: 95%
@media (max-width: 840px)
	.block_search_cat
		flex-direction: column
	.block_event_img
		height: 100px
	.event_card_desc
		display: none
	.event_card_cat
		text-align: center
	.modal_content
		width: 90%
	#submit_create_event
		width: 40%
	textarea
		height: 100px
	.modal_content_moderation, .modal_content_error, .modal_content_notfound
		width: 90%
@media (max-width: 640px)
	.event_card
		width: 48%
	.block_search_day
		display: none
	.block_search_cat
		flex-direction: row
	.block_search_title_city #event_name, .block_search_title_city #city, .block_search_title_city input[type=text]
		max-width: 35%
		font-size: 12px
		margin: 0 5px 5px 5px
	.datepicker_btn
		width: 20px
		height: 20px
	.btn_search
		margin: 0 0 5px 5px
@media (max-width: 500px)
	.block_search_cat
		flex-direction: column
	.event_card_title
		font-size: 16px
	.card_title
		font-size: 12px
	.event_card_cat
		font-size: 13px
	.btn_buy_ticket
		padding: 4px 12px
	.container_search
		margin-top: 10px
	.search_cat_title, .title_calendar
		font-size: 14px
	.search_cat
		font-size: 12px
	.block_search_title_city #city
		margin: 0
		max-width: 48%
	.event_card
		width: 90%
		margin-bottom: 15px
	.container_events
		justify-content: center
	.event_card_desc
		display: block